.bg-pink {
    margin: 0;
    background-color: #ffffff;
  }

  .item {
    height:20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto
  }
.nav-link {
    color: grey;
    font-weight: regular;
    transition: 0.3s;
}
footer p {
    margin: 0;
    background-color: #b2b2b2;
}
.text1 {
    font-size: 30pt
}

nav {
    background: #f4f4f4;
    padding: 10px 20px;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.navigation :active {
    text-decoration: none;
    color: #ff0000;
    font-size: 16px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #0078D7;
}
.navbar-nav .nav-link:hover {
    font-weight: bold; 
    color: #000;       
    text-decoration: none; 
}
.navbar-nav .nav-link.active{
    color: red;          
    font-weight: bold; 
}